* {
    font-family: "UbuntuMono Nerd Font";
    font-size: 15px;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

#workspaces button {
	padding: 0px 5px; /* V H */
}

#workspaces button.focused {
	background-color: #64727D;
	border-radius: 0px;
	border-bottom: 2px solid white;
	font-weight: bold;
}

#clock,
#pulseaudio,
#temperature,
#backlight,
#battery,
#cpu,
#memory,
#network,
#custom-weather,
#tray {
	padding: 0 7px;
	font-weight: bold;
}
