@define-color bg #18181a;
@define-color bg-alt #3c3c3c;
@define-color text white;
@define-color text-alt grey;

#waybar {
	background: @bg;
	color: @text;
	font-family: FiraSans;
	font-size: 1em;
	font-weight: bold;
}

.modules-right {
	margin-right: 4px;	
}

.modules-left {
	margin-left: 4px;	
}

button {
	/* Use box-shadow instead of border so the text isn't offset */
	box-shadow: inset 0 -3px transparent;
	/* Avoid rounded borders under each button name */
	border: none;
	border-radius: 0;
	margin: 0px 1px;
	padding: 0px;
}

#workspaces button {
	color: @text-alt;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0);
}

#workspaces button.focused {
    box-shadow: inset 0 -3px transparent;
	font-weight: bold;
	color: @text;
}

#clock,
#temperature,
#battery,
#cpu,
#memory,
#tray {
	margin-right: 14px;
}

#network {
	margin-right: 12px;
}

#workspaces {
	padding-left: 5px;
}

#pulseaudio {
	margin-right: 10px;
}

#idle_inhibitor {
	padding-right: 8px;
	margin-right: 5px;
}
