/* Esta es la configuración de waybar de Marcos Mikolta */
/* Mi Github: http://github.com/mmgmp/ */
/* Mi Web: http://marcosmikolta.com */

@define-color bg #18181a;
@define-color text #ffffff;
@define-color alt-text #b0a99f;

#waybar {
	background: @bg;
	color: @text;
	font-family: UbuntuMono Nerd Font;
	font-size: 1.05em;
}

#workspaces button {
	color: @alt-text;
	padding: 0px 5px; /* V H */
}

#workspaces button.focused {
	font-weight: bold;
	color: @text;
}

#clock,
#pulseaudio,
#temperature,
#backlight,
#battery,
#cpu,
#memory,
#network,
#custom-weather,
#tray {
	margin: 5px 0px;
	padding: 0 10px;
	border-left: 2px solid @alt-text;
}
