//=== ENTRADAS ===//

input {
    keyboard {
        xkb {
			layout "es"
            options "caps:escape"
        }
        numlock
    }
	
	trackball {
		scroll-button 275
        scroll-method "on-button-down"
    }

    // Uncomment this to make the mouse warp to the center of newly focused windows.
    // warp-mouse-to-focus

    // Focus windows and outputs automatically when moving the mouse into them.
    focus-follows-mouse max-scroll-amount="0%"
}
